<!-- 
<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
			<li class="sidebar-toggler-wrapper">
				<div class="sidebar-toggler">
				</div>
			</li>
			<li class="sidebar-search-wrapper">
				<form class="sidebar-search " action="extra_search.html" method="POST">
					<a href="javascript:;" class="remove">
						<i class="icon-close"></i>
					</a>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
							<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
						</span>
					</div>
				</form>
			</li>
			<li class="start active open">
				<a href="javascript:;">
					<i class="icon-home"></i>
					<span class="title">Dashboard</span>
					<span class="selected"></span>
					<span class="arrow open"></span>
				</a>
				<ul class="sub-menu">
					<li class="active">
						<a href="index.html">
							<i class="icon-bar-chart"></i>
							Default Dashboard</a>
					</li>
					<li>
						<a href="index_2.html">
							<i class="icon-bulb"></i>
							New Dashboard #1</a>
					</li>
					<li>
						<a href="index_3.html">
							<i class="icon-graph"></i>
							New Dashboard #2</a>
					</li>
				</ul>
			</li>
			<li class="heading">
				<h3 class="uppercase">Features</h3>
			</li>

		</ul>
	</div>
</div> -->
<!-- END SIDEBAR -->



<!-- BEGIN: Left Aside -->

<div id="m_aside_left" class="page-sidebar-wrapper" [ngClass]="asideLeftClasses">
	<!-- BEGIN: Aside Menu -->
	<div mMenuAside (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)" id="m_ver_menu" class="page-sidebar navbar-collapse collapse"
	 m-menu-vertical="1" [ngClass]="classInitService.onClassesUpdated$ | async | mGetObject:'aside_menu' | mJoin"
	 [attr.m-menu-dropdown]="menuAsideService.isDropdown" [attr.m-menu-dropdown-timeout]="menuAsideService.dropdownTimeout"
	 [attr.m-menu-scrollable]="menuAsideService.isScrollable">
		<ul class="m-menu__nav"  class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
		 [ngClass]="classInitService.onClassesUpdated$ | async | mGetObject:'aside_menu_nav' | mJoin">
			<li class="sidebar-toggler-wrapper">
				<div class="sidebar-toggler">
				</div>
			</li>
			<li class="sidebar-search-wrapper">
				<form class="sidebar-search " action="extra_search.html" method="POST">
					<a href="javascript:;" class="remove">
						<i class="icon-close"></i>
					</a>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
							<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
						</span>
					</div>
				</form>
			</li>
			<ng-container [ngTemplateOutlet]="mMenuListing"></ng-container>
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>

<ng-template #mMenuListing>
	<ng-container *ngFor="let child of menuAsideService.menuList$ | async">
		<ng-container *ngIf="child.title" [ngTemplateOutlet]="mMenuItem" [ngTemplateOutletContext]="{ item: child, parentItem: item }"></ng-container>
	</ng-container>
</ng-template>

<ng-template #mMenuItem let-item="item" let-parentItem="parentItem">
	<!-- <li class=""  [ngClass]="{ 'active' : !item.submenu && isMenuItemIsActive(item) && !parentItem, 'active open' : item.submenu && isMenuItemIsActive(item)}"
	 aria-haspopup="true"> -->
	<li class="item" [ngClass]="{'active':isMenuItemIsActive(item), 'open': item.submenu && isMenuItemIsActive(item)}" aria-haspopup="true">
		<!-- if menu item hasn't submenu -->
		<a *ngIf="!item.submenu" [routerLink]="item.page" [matTooltip]="item.tooltip" matTooltipPosition="left">
			<ng-container [ngTemplateOutlet]="mMenuItemText" [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>
		</a>
		<!-- if menu item has sumnenu child  -->
		<a href="javascript:;" *ngIf="item.submenu">
			<ng-container [ngTemplateOutlet]="mMenuItemText" [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>
			<span class="m-menu__item-here"></span>
		</a>

		<!-- if menu item has submenu child then recursively call new menu item component -->

		<ul class="sub-menu" *ngIf="item.submenu">
			<ng-container *ngFor="let child of item.submenu">
				<ng-container [ngTemplateOutlet]="mMenuItem" [ngTemplateOutletContext]="{ item: child, parentItem: item }"></ng-container>
			</ng-container>
		</ul>
	</li>
</ng-template>

<ng-template #mMenuItemText let-item="item" let-parentItem="parentItem">
	<!-- if menu item has icon -->
	<i *ngIf="item.icon" [ngClass]="item.icon"></i>

	<!-- if menu item using bullet -->
	<i *ngIf="parentItem && parentItem.bullet === 'dot'" class="m-menu__link-bullet m-menu__link-bullet--dot">
		<span></span>
	</i>
	<i *ngIf="parentItem && parentItem.bullet === 'line'" class="m-menu__link-bullet m-menu__link-bullet--line">
		<span></span>
	</i>

	<ng-container *ngIf="!item.badge; else mMenuLinkBadge">
		<!-- menu item title text -->
		<span class="title" [translate]="item.translate">
			{{item.title}}
		</span>
	</ng-container>

	<ng-template #mMenuLinkBadge>
		<!-- menu item with badge -->
		<span class="m-menu__link-title">
			<span class="m-menu__link-wrap">
				<span class="m-menu__link-text" [translate]="item.translate">{{item.title}}</span>
				<span class="m-menu__link-badge">
					<span class="m-badge" [ngClass]="item.badge.type">{{item.badge.value}}</span>
				</span>
			</span>
		</span>
	</ng-template>

	<!-- if menu item has submenu child then put arrow icon -->
	<span *ngIf="item.submenu" class="arrow open"></span>
</ng-template>
<!-- END: Left Aside -->