<!-- BEGIN: Topbar -->
<!-- <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav"> -->
<!-- <div id="m_header_topbar" class="m-topbar m-stack m-stack--ver m-stack--general">
	<div class="m-stack__item m-topbar__nav-wrapper">
		<ul class="m-topbar__nav m-nav m-nav--inline">
			<m-search-dropdown *ngIf="searchType === 'search-dropdown'"></m-search-dropdown>
			<m-search-default *ngIf="searchType === 'search-default'"></m-search-default>

			<m-notification></m-notification>
			<m-quick-action></m-quick-action>
			<m-language-selector></m-language-selector>
			<m-user-profile></m-user-profile> -->

			<!-- TODO; if layout config quick_sidebar.display is enabled -->
			<!-- <li id="m_quick_sidebar_toggle" class="m-nav__item">
				<a href="javascript:;" class="m-nav__link m-dropdown__toggle">
					<span class="m-nav__link-icon">
						<i class="flaticon-grid-menu"></i>
					</span>
				</a>
			</li>
		</ul>
	</div>
</div> -->
<!-- </div> -->
<!-- END: Topbar -->


<!-- BEGIN TOP NAVIGATION MENU -->
<div class="top-menu">
		<ul class="nav navbar-nav pull-right">
			<!-- BEGIN NOTIFICATION DROPDOWN -->
			<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
			<m-notification></m-notification>
			<!-- END NOTIFICATION DROPDOWN -->
			<!-- BEGIN INBOX DROPDOWN -->
			<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
			<m-inbox></m-inbox>
			<!-- END INBOX DROPDOWN -->
			<!-- BEGIN TODO DROPDOWN -->
			<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
			<m-quick-action></m-quick-action>
			<!-- END TODO DROPDOWN -->
			<!-- BEGIN USER LOGIN DROPDOWN -->
			<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
			<m-user-profile></m-user-profile> -->
			<!-- END USER LOGIN DROPDOWN -->
			<!-- BEGIN QUICK SIDEBAR TOGGLER -->
			<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
			<li class="dropdown dropdown-quick-sidebar-toggler">
				<a href="javascript:;" class="dropdown-toggle">
				<i class="icon-logout"></i>
				</a>
			</li>
			<!-- END QUICK SIDEBAR TOGGLER -->
		</ul>
	</div>
	<!-- END TOP NAVIGATION MENU -->
